<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.lottery.mapper.RaffleMapper">
  <resultMap id="BaseResultMap" type="com.ht.lottery.entity.Raffle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="usercode" jdbcType="VARCHAR" property="usercode" />
    <result column="ticket_code" jdbcType="VARCHAR" property="ticketCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, usercode, ticket_code,status, create_time, use_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from raffle
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from raffle
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ht.lottery.entity.Raffle">
    insert into raffle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="usercode != null">
        usercode,
      </if>
      <if test="ticketCode != null">
        ticket_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="useTime != null">
        use_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="ticketCode != null">
        #{ticketCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.ht.lottery.entity.Raffle">
    update raffle
    <set>
      <if test="usercode != null">
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="ticketCode != null">
        ticket_code = #{ticketCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null">
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="Query_Column_List">
    <if test="usercode != null and usercode !=''">
      AND usercode = #{usercode}
    </if>
    <if test="ticketCode != null and ticketCode !=''">
      AND ticket_code = #{ticketCode}
    </if>
  </sql>
  <select id="listRaffle" parameterType="com.ht.lottery.entity.Raffle" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from raffle
    where 1 = 1
    <include refid="Query_Column_List" />
  </select>
</mapper>